<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-if.html">

<dom-module id="gestor-clientes" on-load="saldo">
    <template>
        <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
-->
        <style>
            :host {
                display: block;
            }

            .flag {
                width: 90px;
                height: 95px;
            }

            #tablaclte {
                margin: 120px auto;
                width: 900px;
                box-shadow: black;
            }

            table {
                background-color: rgb(10, 177, 243);
                text-align: left;
                border-collapse: collapse;
                width: 100%;
                box-shadow: black;
            }

            thead {
                background-color: #0c0170f8;
                border-bottom: solid 5px black;
                color: white;
            }

            th,
            td {
                padding: 15px;
            }

            tr:nth-child(even) {
                background-color: rgb(51, 129, 245);
            }

            tr:hover td {
                background-color: rgb(62, 134, 241);
                color: white;
            }

            h1: {
                text-align: left;
            }
        </style>
        <div class="container">
            <template is="dom-if" if="{{swHeader}}">
                <!--<div class="row"> -->

                <h1 id="saldo">Saldo     {{saldoclte}}</h1>
                <h1><label id="saldo">Saldo Label  {{saldoclte}}</label></h1>
                <button on-click="movimientos" class="btn btn-success" type="button" name="button">Movimientos</button>
                <button on-click="recarga" class="btn btn-info" type="button" name="button">Recarga</button>
                <!-- </div> -->

            </template>
            <template is="dom-if" if="{{swTabla}}">
                <section id="tablaclte">
                    <div class="row">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID DEL CLIENTE</th>
                                    <th>NOMBRE DEL CLIENTE</th>
                                    <th>COMPAÑIA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template is="dom-repeat" items="{{clientes}}">
                                    <tr>
                                        <td>
                                            [[item.CustomerID]]
                                        </td>
                                        <td>
                                            [[item.ContactName]]
                                        </td>
                                        <td>
                                            [[item.CompanyName]]
                                        </td>
                                    </tr>

                                </template>
                            </tbody>
                        </table>
                    </div>
                </section>
            </template>
        </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class GestorClientes extends Polymer.Element {
            static get is() {
                return 'gestor-clientes';
            }
            static get properties() {
                return {
                    clientes: {
                        type: Array,
                        notify: true
                    },
                    userjs: {
                        type: Array,
                        notify: true
                    },
                    saldoclte: {
                        type: Number
                    },
                    swTabla: {
                        type: Boolean,
                        value: false
                    },
                    swHeader: {
                        type: Boolean,
                        value: true
                    }

                }
                console.log("gestor cliente inicio " + localStorage.getItem("usuario"));
            }

            // se agregan los metodos a ser usados
            incrementar() {
                this.prop2 = this.prop2 + 1;
                //this.prop2 += 1;
                console.log("prop2:" + this.prop2);
                console.log("prop1:" + this.prop1);
            }
            movimientos() {
                this.swTabla = true;
                this.saldoclte = 125;
                var request = new XMLHttpRequest();
                // cambiamos la url para indicar el localhost del backend
                var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
                //var url="http://localhost:3002/v2/Clientes";

                request.open("GET", url, false);
                request.setRequestHeader("Accept", "application/json");
                request.send();
                this.clientes = JSON.parse(request.responseText).value;
                //eliminamos el value ya que regresa un arreglo
                //this.clientes = JSON.parse(request.responseText);
                //console.table(JSON.parse(request.responseText).value);
                console.table(this.clientes);
                console.log(this.user);
                // recuperar el local storage
                //var userjs = JSON.parse(localStorage.getItem(usuario));
                //console.log(userjs);
                console.log("gestor cliente " + localStorage.getItem("usuario"));

            }

            recarga() {
                this.swTabla = false;
                var request = new XMLHttpRequest();
                var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";

                request.open("POST", url, false);
                request.setRequestHeader("Accept", "application/json");
                request.setRequestHeader("Content-type", "application/json");
                var nuevoCliente = {
                    "CustomerID": 1234,
                    "ContactName": "Pepe",
                    "CompanyName": "Pepes Bar"
                };
                var body = JSON.stringify(nuevoCliente);

                request.send(body);
                this.respuesta = request.responseText;
                console.table(this.respuesta);
            }
            saldo() {
                this.saldoclte = 500;
                console.log("actualiza saldo - funcion saldo gestor-clientes");
            }
        }

        window.customElements.define(GestorClientes.is, GestorClientes);
    </script>
</dom-module>
