<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-if.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/custom-style.html">
<link rel="import" href="/src/login-app/login-app.html">
<link rel="import" href="../../css/styletabla.css">
<link rel="import" href="../../img/LogoBBVA.JPG">
<link rel="import" href="../../img/comedorvistaamplia.jpg">
<link rel="import" href="../../img/menuseptiembre.jpg">
<link rel="import" href="../../img/galeria1.jpg">
<link rel="import" href="../../img/galeria2.jpg">
<link rel="import" href="../../img/galeria3.jpg">
<link rel="import" href="../../img/galeria4.jpg">
<link rel="import" href="../../index.html">



<dom-module id="gestor-acceder">
    <template>
      <style>
        :host {
          display: block;
        }
        #tablaclte{
            margin: 120px auto;
            width: 900px;
            /*box-shadow: black;*/
        }
        table{
          background-color: rgb(10, 177, 243);
          text-align: left;
          border-collapse: collapse;
          width: 100%;
        }
        thead{
          background-color: #0c0170f8;
          border-bottom: solid 5px black;
          color: white;
        }
        th, td{
          padding: 15px;
        }
        tr:nth-child(even){
          background-color: rgb(51, 129, 245);
        }
        tr:hover td{
          /*background-color: rgb(62, 134, 241);*/
          background-color: orange;
          color: white;
        }
        h1:{
          text-align: left;
        }
        .contenedor{
          width: 90%;
          /*margin: left;*/
          overflow: hidden;
        }
        .contenedor1{
          width: 70%;
          margin: auto;
          margin-top: 20px;
          overflow: hidden;
        }
        ul{
            margin: 0;
            padding: 0;
        }
        /* estilos para encabezados */
        header{
            /*background-color: #254383; */
            width: 100%;
            background-color: #244385;
            color: #fff;
            top: 0;
            padding-top: 5px;
            min-height: 70;
            position: fixed;
            /*border-bottom: 5px solid#1293d4;*/
            border-bottom: 7px solid#01133b;
            border-left: 2px solid#01133b;
            border-right: 2px solid#01133b;
        }

        header a{
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            margin: right;
        }

        header li{
            float: left;
            display: inline;
            padding: 0 20px 0 20px;
        }

        header #marca{
            float: left;
        }

        header  h1{
            margin: 0;
        }

        header nav{
            float: right;
            margin-top: 10px;
        }

        header .resaltado{
            color: white;
            font-weight: bold;

        }
        header .actual a{
            color: white;
            font-weight: bold;

        }
        /* resalta al colocar el mouse en el menu o */
        header a:hover {
            color: #ccc;
            font-weight: bold;
        }
        #logo{
          width: 50%;
          /*margin-left: 5px;*/
          padding-top: 0px;
        }
        #menu{
          padding-top: 30px;
          text-align: right;
        }
        /* cabecera con imagen */
        #cabecera{
            min-height: 500px;
            /*width: 100%;
            top: 10vh;

            position: relative;*/

            margin-top: 60px;
            background-color: transparent;
            background: orange;
            background-image: url('/img/comedorvistaamplia.jpg');

            background-size:   1350px 750px;
            background-position: center;
            text-align: center;
            color: #244385;
        }
        #cabecera h1{
            /*top: 150px;*/

            font-size: 65px;
            /*text-shadow: #e8491d 25px 25px 5px
            text-shadow: #1293d4 5px 5px 5px;
            text-shadow: #46ff33 5px 5px 5px;*/
            text-shadow: white  7px 7px 7px;
            text-overflow: ellipsis;
            margin-top: 0px;
            margin-bottom: 0px;

            /* outline: 2px dashed #000099;
            outline-offset: 15px; */

        }
        #cabecera p{
            font-size: 35px;
            /*text-shadow: #1293d4 2px 2px 2px;*/
            text-shadow: white 3px 3px 3px;
        }
        #cabecera1{
            min-height: 100px;
            background-color: transparent;
            /*background-image: url('/home/alumno/polymerdesdenode2ed/comedorvistaamplia.jpg');*/
            background: orange;
            /*background-size:   650px 400px;*/
            background-position: center;
            text-align: center;
            color: #244385;
        }
        #tarjeta{
          width: 7%;
        }
        /* cajas  */
        #cajas{
            margin-top: 20px;
            /*background-color: #ccc;*/
        }

        #cajas .caja{
            float: left;
            /*text-align: center;*/
            width: 50%;
            padding: 10px;
            text-shadow: rgba(1,0,150,0.5) 3px 3px 5px;
        }

        #cajas .caja img{
            width: 290px;
            color: #fff;
            color: #ccc;
        }

      </style>

      <template is="dom-if" if="{{swLogin}}">
        <login-app></login-app>
      </template>

      <template is="dom-if" if="{{swAcceder}}">
          <template is="dom-if" if="{{swBarraMenu}}">
            <header>
              <div class="contenedor">
                  <div id="marca">
                      <img class="" src="/img/LogoBBVA.JPG" alt="" id="logo">
                  </div>
                  <nav>
                      <ul id="barramenu">
                          <li class="actual"><a class="minicio" on-click="inicio" href="#" id="menu">Inicio</a></li>
                          <li><a class="csaldo" id="msaldo" on-click="saldo" href="#" id="menu">Saldo</a></li>
                          <li><a on-click="movimientos" href="#" id="menu">Movimientos</a></li>
                          <li><a on-click="recarga" href="#" id="menu">Recarga</a></li>
                          <li><a on-click="menu" href="#" id="menu">Menú</a></li>
                          <li><a on-click="galeria" href="#" id="menu">Galeria</a></li>
                          <li><a on-click="salir" href="#" id="menu">Salir</a></li>
                      </ul>
                  </nav>
              </div>
            </header>
          </template>


         <!-- Seccion de Menú - muestra información general-->
         <template is="dom-if" if="{{swCabecera}}">
           <!-- <section id="cabecera">  <div class="contenedor">-->
            <section id="cabecera">
                <div>
                    <br/><br/><br/>
                    <h1>Bienvenidos al Comedor BBVA</h1>
                    <br/><br/>
                    <p>Sistema de Recarga - Monedero Electrónico</p>
                    <br/><br/>
                    <p> {{nombre}} </p>
                    <!--<img class="" src="/img/comedorvistaamplia.jpg" alt="" id="logo" style="size: 750px 500px;">
                    <img class="" src="/img/comedorvistaamplia.jpg" alt="" style="width: 100%;">-->
                </div>
            </section>

          </template>


          <template is="dom-if" if="{{swSaldo}}">
            <section id="cabecera1">
                <div id="recar">
                    <br/>
                    <br/>
                    <p> Sistema de Recarga del Monedero Electrónico - Consulta de Saldo</p>
                    <br/>
                    <br/>
                    <h1><a id="saldo">Saldo Disponible  {{saldoclte}}</a></h1>
                </div>
            </section>
          </template>

          <template is="dom-if" if="{{swRecarga}}">
                    <section id="cabecera1">
                        <div id="recar">
                            <br/>
                            <br/>
                            <p> Sistema de Recarga del Monedero Electrónico - Recarga </p>
                            <br/>
                            <br/>
                        </div>
                        <div>
                            <template is="dom-if" if="{{swaplica}}">
                                <h1><a id="saldo">Su recarga por $ {{montorecarga}} se aplicó exitosamente</a></h1>
                            </template>
                        </div>
                    </section>
                    <template is="dom-if" if="{{swRecEncab}}">
                        <!--<section id="cajas">-->
                            <section id="cabecera1">
                                <div>
                                    <br/>
                                    <br/>
                                    <p> Sistema de Recarga del Monedero Electrónico - Tarjetas</p>
                                </div>
                            </section>
                    </template>
                    <template is="dom-if" if="{{swTarjeta}}">

                            <div class="contenedor1">
                                <div>
                                    <a>Número de la tarjeta: </a>
                                    <input type="tdc" on-keyup="validaTDC" value="{{tdc::input}}" placeholder="Número de Tarjeta">
                                    <br/><br/>
                                    <a>Vencimiento de la tarjeta: </a>
                                    <input id="tarjeta" type="mes" value="{{mes::input}}" placeholder="Mes">
                                    <a> / </a>
                                    <input id="tarjeta" type="ano" value="{{ano::input}}" placeholder="Año">
                                    <br/><br/>
                                    <a>Código de Seguridad </a>
                                    <!--<input id="tarjeta" type="password" on-keyup="validaCvv" value="{{cvv::input}}" placeholder="CVV" hidden$={{logado}}>-->
                                    <input id="tarjeta" type="password"  value="{{cvv::input}}" placeholder="CVV" hidden$={{logado}}>
                                    <br/><br/>
                                    <a>Monto de la Recarga </a>
                                    <!--<input id="monto" type="monto" on-keyup="validaMonto  validaCvv" value="{{monto::input}}" placeholder="0">-->
                                    <input id="monto" type="monto"  value="{{monto::input}}" placeholder="0">
                                <div>
                                    <br/><br/>
                                    <button on-click="cancelar"  class="btn btn-success" style="margin-left: 10%;">Cancelar</button>
                                    <button on-click="recargar"  class="btn btn-success" style="margin-left: 10%;">Recargar</button>
                                </div>
                            </div>
                        <!--</section>-->
                    </template>
                    <template is="dom-if" if="{{swTablaR}}">

                    <section id="tablaclte">
                      <div class="row">
                        <table id="tablarow">
                            <thead>
                                  <tr>
                                    <th>Banco</th>
                                    <th>Tarjeta</th>
                                    <th>Seleccionar</th>
                                  </tr>
                            </thead>
                            <tbody>
                            <template  is="dom-repeat" items="{{cuentas}}">
                              <tr>
                                  <td>
                                    <p>[[item.banco]]</p>
                                  </td>
                                  <td>
                                    <p on-click="seleccionar" id="numero2">[[item.numero]]</p>
                                  </td>
                                  <td>
                                    <a on-click="seleccionar" href="#">Seleccionar</a>
                                  </td>
                              </tr>
                            </template>
                          </tbody>
                        </table>
                        </div>
                    </section>
                  </template> <!-- Fin Template swTabla para recarga-->


            </template>

          <!-- Seccion de Menú - muestra información general-->
        <template is="dom-if" if="{{swMenu}}">
            <section id="cabecera1">
                <div>

                    <p> Menu Semanal </p>
                    <img class="" src="/img/menuseptiembre.jpg" alt="" id="logo" style="width: 100%;">

                </div>
            </section>
          </template>

          <template is="dom-if" if="{{swGaleria}}">
              <section id="cabecera1">
                  <div>
                      <br/>
                      <p> G A L E R I A </p>
                  </div>
              </section>
              <section id="cajas">
                <div class="contenedor1">
                  <div class="caja">
                      <img class="" src="/img/galeria1.jpg" alt="">
                      <br/>
                      <a> Por que a los Comedores BBVA nos gusta escucharlos para ofrecerles el mejor servició y calidad de los alimentos, hemos creado la Barra Express en Torre Bancomer.</a>
                  </div>
                  <div class="caja">
                      <img class="" src="/img/galeria2.jpg" alt="">
                  </div>
                  <div class="caja">
                      <br/><br/>
                      <a> ¿Por qué?
                          Buscamos mejorar los tiempos en fila y así enriquecer tu experiencia.
                          ¿Para quién?
                          Quien no cuentan con mucho tiempo para comer. Ejemplo ya sea por tener una junta próximamente.
                          Quien no deseen hacer filas largas.
                          Quien sólo busque una parte del menú sin hacer las filas.
                          </a>
                  </div>
                  <div class="caja">
                      <img class="" src="/img/galeria3.jpg" alt="">
                  </div>
                  <div class="caja">
                      <br/><br/>
                      <a> ¿Qué servimos?
                          Sólo servimos:
                          Bistec a la Plancha
                          Pechuga a la Plancha
                          Guarnición de la Plancha
                          </a>
                  </div>
                  <div class="caja">
                      <img class="" src="/img/galeria4.jpg" alt="">
                  </div>
                  <div class="caja">
                  <br/>
                      <a> Hemos mejorado la experiencia al colaborador que está embarazada o discapacitado, creando un nuevo protocolo para enriquecer su experiencia antes, durante y después de la comida dentro del Comedor BBVA Bancomer.
                        </a>
                  </div>
                </div>
              </section>
          </template>

           <template is="dom-if" if="{{swTabla}}">
                <section id="cabecera1">
                    <div>
                        <br/>
                        <br/>
                        <p> Sistema de Recarga del Monedero Electrónico - Movimientos</p>
                    </div>
                </section>
              <section id="tablaclte">
                <div class="row">
                  <table>
                      <thead>
                            <tr>
                              <th>Fecha Operación</th>
                              <th>Descripción</th>
                              <th>Monto</th>
                              <th>Saldo</th>
                            </tr>
                      </thead>
                      <tbody>
                      <template  is="dom-repeat" items="{{clientes}}">
                        <tr>
                            <td>
                                <p>[[item.fecha]]</p>
                            </td>
                            <td>
                                <p>[[item.movimiento]]</p>
                            </td>
                            <td>
                                <p>[[item.monto]]</p>
                            </td>
                            <td>
                                <p>[[item.saldo]]</p>
                            </td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                  </div>
              </section>
            </template> <!-- Fin Template swTabla-->


      </template> <!-- Fin Template swAcceder-->
    </template>  <!-- Fin Template principal-->

  <script>
    class gestorAcceder extends Polymer.Element
    {
          static get is() { return 'gestor-acceder'; }
          static get properties()
          {
            return {
              user:{
              type: String
            },
              password:{
              type: String
            },
              saldo:{
              type: Number
            },
              tdc:{
              type: Number
            },
              fecha:{
              type: Number
            },
              ano:{
              type: Number
            },
              mes:{
              type: Number
            },
              cvv:{
              type: Number
            },
              monto:{
              type: Number
            },
              saldoclte:{
              type: Number
            },
              montorecarga:{
              type: Number
            },
              nombre:{
              type: String
            },
              swBarraMenu:{
              type: Boolean,
              value:  true
            },
              swAcceder:{
              type: Boolean,
              value:  true
            },
              swSaldo:{
              type: Boolean,
              value:  false
            },
              swCabecera:{
                type: Boolean,
                value:  true
              },
              swTarjeta:{
                type: Boolean,
                value:  false
              },
              swRecEncab:{
                type: Boolean,
                value:  false
              },
              swaplica:{
                type: Boolean,
                value:  false
              },
              clientes:{
              type: Array,
              notify: true
            },
              userjs:{
              type: Array,
              notify: true
            },
              posclte:{
              type: Array,
              notify: true
            },
              swTabla:{
              type: Boolean,
              value:  false
            },
              swTablaR:{
              type: Boolean,
              value:  false
            },
              swMenu:{
              type: Boolean,
              value:  false
            },
             swRecarga:{
              type: Boolean,
              value:  false
            },
              swGaleria:{
              type: Boolean,
              value:  false
            },
              swHeader:{
              type: Boolean,
              value:  true
              },
              irSaldo:{
              type: Boolean,
              value:  false
              },
              swLogin:{
                type: Boolean,
                value: false
              }
            }
          }
      acceder(){
        console.log('ingresa function acceder')
        this.dispatchEvent(new CustomEvent('regresar', {
          composed: true,
          bubbles: true
        }))

      }
      // se agregan los metodos a ser usados
      incrementar(){
        this.prop2 = this.prop2 + 1;
        //this.prop2 += 1;
        console.log("prop2:" + this.prop2);
        console.log("prop1:" + this.prop1);
      }
      movimientos(){
        console.log("ingreso función movimientos");
        this.swTabla = true;
        this.swCabecera = false;
        this.swGaleria = false;
        this.swTablaR = false;
        this.swMenu = false;
        this.swSaldo = false;
        this.swRecarga = false;
        var request = new XMLHttpRequest();
        //var url = "http://ec2-18-218-184-153.us-east-2.compute.amazonaws.com:3001/v1/movements";
        var url = "http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001/v1/movements";
        console.log(" url " + url);
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-type", "application/json");
        request.setRequestHeader("access-control-allow-headers", 'Origin, X-Requested-With, Content-Type, Accept');
        request.setRequestHeader("Access-Control-Allow-Origin", '*');
        request.setRequestHeader("Access-Control-Allow-Origin", 'http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001');
        request.withCredentials = true;
        request.send();
        if (request.status == 200) {
            var respuesta = JSON.parse(request.response).value;
            //console.table(JSON.parse(request.responseText).value);
            console.table(JSON.parse(request.response));
            this.clientes = JSON.parse(request.response);
            console.log("funcion movimiento " + this.clientes);
            //console.log("respuesta función movimiento " + " " + respuesta.movements.fecha + " " + respuesta.movements.monto);
            this.saldoclte = respuesta.comedor.saldo;
        } else {
            alert("Saldo no disponible");
        }


      }

      recarga(){
        this.swCabecera = false;
        this.swTabla = false;
        this.swTablaR = false;
        this.swRecarga = true;
        this.swGaleria = false;
        this.swMenu = false;
        this.swSaldo = false;
        this.swaplica = false;
        this.swTarjeta = true;
        this.swRecEncab = true;
        this.cvv = 0;
        this.tdc = null;
        this.ano = null;
        this.mes = null;
        this.cvv = null;
        this.monto = null;

        var request = new XMLHttpRequest();
        //var url = "http://ec2-18-218-184-153.us-east-2.compute.amazonaws.com:3001/v1/cuentas";
        var url = "http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001/v1/cuentas";
        console.log(" url " + url);
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-type", "application/json");
        request.setRequestHeader("access-control-allow-headers", 'Origin, X-Requested-With, Content-Type, Accept');
        request.setRequestHeader("Access-Control-Allow-Origin", '*');
        request.setRequestHeader("Access-Control-Allow-Origin", 'http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001');
        request.withCredentials = true;
        request.send();
        if (request.status == 200) {
          console.table(JSON.parse(request.response));
          this.cuentas = JSON.parse(request.response);
         // this.cuentas(2) = '<span class="icon fa-edit">';
        } else {
            alert("Saldo no disponible");
        }
/*
        //this.swBarraMenu = false;
        var request = new XMLHttpRequest();
        var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";

        request.open("POST", url, false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-type","application/json");
        var nuevoCliente = {"CustomerID":1234, "ContactName":"Pepe", "CompanyName":"Pepes Bar"};
        var body = JSON.stringify(nuevoCliente);

        request.send(body);

        this.respuesta = request.responseText;
        console.table(this.respuesta);*/
      }
      seleccionar(){
        console.log("ingresa funcion seleccionar");
        console.log("cuentas " + this.cuentas);
        this.swCabecera = false;
        this.swTabla = false;
        this.swTablaR = false;
        this.swRecarga = true;
        this.swGaleria = false;
        this.swMenu = false;
        this.swSaldo = false;
        this.swTarjeta = true;
        this.cvv = " ";
        var l1 = this.shadowRoot.querySelector("#numero2");
        console.log(" l1 " + l1);
        var texto = this.shadowRoot.getElementById("#numero2").value;

        console.log(" texto " + texto);
        //var texto = l1.getRowSelected(this);
        //console.log("texto " + texto);
        //console.log("item.numero " + {{item.numero}});
        //var texto = l1.


        this.monto = 0;

      }

      saldo() {
                this.user = localStorage.getItem("usuario");
                var request = new XMLHttpRequest();
                //var url = "http://ec2-18-218-184-153.us-east-2.compute.amazonaws.com:3001/v1/comedor";
                var url = "http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001/v1/comedor";
                console.log(" url " + url);
                request.open("GET", url, false);
                request.setRequestHeader("Accept", "application/json");
                request.setRequestHeader("Content-type", "application/json");
                request.setRequestHeader("access-control-allow-headers", 'Origin, X-Requested-With, Content-Type, Accept');
                request.setRequestHeader("Access-Control-Allow-Origin", '*');
                request.setRequestHeader("Access-Control-Allow-Origin", 'http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001');
                request.withCredentials = true;
                request.send();
                if (request.status == 200) {
                    var respuesta = JSON.parse(request.response);
                    console.log("funcion saldo " + respuesta.comedor.saldo);
                    this.saldoclte = respuesta.comedor.saldo;
                } else {
                    alert("Saldo no disponible");
                }
                this.swSaldo = true;
                this.swCabecera = false;
                this.swTabla = false;
                this.swGaleria = false;
                this.swMenu = false;
                this.swTablaR = false;
                this.swRecarga = false;
                var csaldo1 = document.querySelector(".csaldo");
                var csaldo2 = document.querySelector("#msaldo");
            }
      inicio(){
        //this.fposicion();
        this.swCabecera = true;
        this.swTablaR = false;
        this.swTabla = false;
        this.swGaleria = false;
        this.swMenu = false;
        this.swSaldo = false;
        this.swRecarga = false;
        this.user = localStorage.getItem("usuario");
        //this.password = localStorage.getItem("password");
        console.log("gestor acceder - Inicio " + localStorage.getItem("usuario"));
        console.log("user " + localStorage.getItem("usuario"));
        //console.log("pass " + localStorage.getItem("password"));
        console.log("usuario " + this.user + " " + this.password);
      }
      galeria(){
        this.swCabecera = false;
        this.swTabla = false;
        this.swGaleria = true;
        this.swMenu = false;
        this.swSaldo = false;
        this.swRecarga = false;
        this.swTablaR = false;
      }
      menu(){
        this.swCabecera = false;
        this.swTabla = false;
        this.swTablaR = false;
        this.swGaleria = false;
        this.swMenu = true;
        this.swSaldo = false;
        this.swRecarga = false;
      }
      mostrar1(){
        this.SwRegistro = false;
        this.swTablaR = false;
        this.Swlogin = false;
        this.SwValidaUser = false;
        this.swAcceder = true;
      }
      validaTDC(){
        //if(this.tdc == null || isNaN(this.tdc)){
        console.log("ingresa funcion longitud");
        if(this.tdc == null || isNaN(this.tdc) || this.tdc < 0){
          alert("Número de Tarjeta debe ser numérico");
          this.tdc = null;
          this.swTarjeta = true;
        }
        if(this.tdc.length > 17){
          alert("Longitud de Tarjeta no debe exceder 18 posiciones");
          this.tdc = null;
          this.swTarjeta = true;
        }
      }
      numero(){
        if(this.cvv == null || isNaN(this.cvv)){
          alert("Debe introducir un CVV válido");
          this.cvv = null;
          this.swTarjeta = true;
        }
        if(this.ano == null || isNaN(this.ano)){
          alert("Debe introducir un año válido");
          this.ano = null;
          this.swTarjeta = true;
        }
        if(this.monto == null || isNaN(this.monto)){
          alert("Monto debe ser numérico");
          this.monto = null;
          this.swTarjeta = true;
        }
        if ((this.ano == 2019 && this.mes < 11) ||
            this.ano < 2019){
            this.ano = null;
            this.mes = null;
        }
      }
      validaMonto(){
        if(this.monto == null || isNaN(this.monto)){
          alert("Debe introducir un Monto Válido");
          this.monto = null;
          this.swTarjeta = true;
        }
      }
      validaCvv(){
        if(this.cvv == null || isNaN(this.cvv)){
          alert("Debe introducir un CVV válido");
          this.cvv = null;
          this.swTarjeta = true;
        }
      }
      cancelar(){
        this.tdc = null;
        this.ano = null;
        this.mes = null;
        this.cvv = null;
        this.monto = null;
        this.swTarjeta = true;
      }
      recargar(){
        console.log("ingresa funcion recargar")
        this.validaCvv(this.cvv);
        this.validaMonto(this.monto);
        this.validaTDC(this.tdc);
        this.saldoclte = this.monto;
        this.fecha = this.mes + this.ano;
        console.log("recargar " +  this.monto + " " + this.tdc + " " + this.cvv + " " + this.fecha);
        var request = new XMLHttpRequest();
        //var url = "http://ec2-18-218-184-153.us-east-2.compute.amazonaws.com:3001/v1/recharge";
        var url = "http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001/v1/recharge";
        console.log(" url " + url);
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-type", "application/json");
        request.setRequestHeader("tarjeta", this.tdc);
        request.setRequestHeader("monto", this.monto);
        request.setRequestHeader("fecha", this.fecha);
        request.setRequestHeader("cvv2", this.cvv);
        request.setRequestHeader("access-control-allow-headers", 'Origin, X-Requested-With, Content-Type, Accept');
        request.setRequestHeader("Access-Control-Allow-Origin", '*');
        request.setRequestHeader("Access-Control-Allow-Origin", 'http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001');
        request.withCredentials = true;
        request.send();
        if (request.status == 200) {
                    //var respuesta = JSON.parse(request.response);
            console.log("funcion recarga ");
                    //this.saldoclte = respuesta.comedor.saldo;
            this.swaplica = true;
            this.swTablaR = false;
            this.montorecarga = this.monto;
            this.swTarjeta = false;
            this.swRecEncab = false;
        } else {
            alert("No fue posible realizar la Recarga, por favor verifique los datos o intente más tarde");
        }
      }
      fposicion(){
        // informacion para posicion del cliente
        this.user = localStorage.getItem("usuario");
        //this.password = localStorage.getItem("password");
        var request = new XMLHttpRequest();
        //var url="http://ec2-18-218-184-153.us-east-2.compute.amazonaws.com:3001/v1/comedor";
        var url = "http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001/v1/comedor";
        var usuario = this.user.toUpperCase();
        this.user = usuario;
        request.open("POST", url, false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-type","application/json");
        //request.setRequestHeader("user", this.user);
        //request.setRequestHeader("password", this.password);
        request.setRequestHeader("access-control-allow-headers",  'Origin, X-Requested-With, Content-Type, Accept');
        request.setRequestHeader("Access-Control-Allow-Origin",  '*');
        request.setRequestHeader("Access-Control-Allow-Origin",  'http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001');
        //request.withCredentials = true;
        request.send();
        var cliente = JSON.parse(request.response);
        this.posclte = JSON.parse(request.response);
        console.log("posicioines del cliente "+ this.posclte);
        if (request.status == 200){
            console.log("funcion posicion");

            console.log("clientejson " + cliente);
            console.log("gestor acceder -> funcion posicion " +  cliente.nombre + " " + cliente.apellidos + " " + cliente.comedor.saldo);
            this.posicion = JSON.parse(request.responseText);
            console.log("Posicion del Cliente " + this.posicion);
            this.nombre =  cliente.nombre + " " + cliente.apellidos;
            this.saldoclte = cliente.comedor.saldo;

        }else{
            alert("Usuario o Contaseña Inválida");
            console.log("Usuario o Contaseña Inválida");
            this.logado = false;
            this.SwRegistro = false;
            this.Swlogin = true;
            this.SwValidaUser = false;
            this.SwAcceder = false;
            this.user = null;
            this.password = null;
              }
        return cliente;
          // termina informacion posicion del clientes
      }

      salir(){
        localStorage.clear();
        sessionStorage.clear();
        this.swAcceder = false;
        this.swLogin = true;

      }
    }
    window.customElements.define(gestorAcceder.is, gestorAcceder);
  </script>
</dom-module>
