<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-if.html">
<link rel="import" href="../../src/gestor-acceder/gestor-acceder.html">
<link rel="import" href="/src/login-app/login-app.html">
<link rel="import" href="../../img/desbloqueo.jpg">

<dom-module id="gestor-contrasena">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;   
      }
      .flag{
        width: 90px;
        height: 95px;
      }
    </style>
      <template is="dom-if" if="{{SwAcceder}}">
          <gestor-acceder on-regresar="mostrar"></gestor-acceder>
      </template>

      <template is="dom-if" if="{{SwLogin}}">
          <login-app on-regresar="mostrar"></login-app>
      </template>


      <template is="dom-if" if="{{swClave}}">
        <img class="" src="../../img/desbloqueo.jpg" alt="" style="width: 100%;">
        <div class="container">
          <div id="pass" class="row" hidden$={{logado}} style="width: 10%; margin-left: 45%; justify-content: center">
            <p></p>
              <input type="token" value="{{tokenI::input}}" placeholder="Introducir token" style="background: #e6e6e6 padding: 10px; font: 12px  Arial, Helvetica, Sans-serif;">
              <br/>
            <p></p>
              <input type="password"  on-keyup="iguales"  value="{{password::input}}" placeholder="Introducir Contraseña" style="background: #e6e6e6 padding: 10px; font: 12px Arial, Helvetica, Sans-serif;">
            <p></p>
              <br/>
              <input type="password"  on-keyup="iguales" value="{{password1::input}}" placeholder="Repetir Contraseña" style="background: #e6e6e6 padding: 10px; font: 12px Arial, Helvetica, Sans-serif;">
            <p></p><br/>
          </div>
          <div id="boton-login" class="row" hidden$={{logado}}>
            <p></p><br/>
            <button on-click="confirmar" class="btn btn-success" style="background: #0b0b61;  width: 20%; margin-left: 40%; justify-content: center">Confirmar</button>
            <p></p>
          </div>
          <a on-click="token" href="#" style="margin-left: 30%"">Regresar</a> 
          
        </div>
        <template is="dom-if" if="{{swView}}">
            <div>
              <a style="margin-left: 40%; width: 15%;font: 10px Arial, Helvetica, Sans-serif; color: red">La Contraseña no coincide</a>
            </div>
        </template> 
      </template>
      
  </template>

  <script>
class GestorContrasena extends Polymer.Element 
    {
          static get is() { return 'gestor-contrasena'; }
          static get properties() 
          {
            return {
              password:{
              type: String
            },
              password1:{
              type: String
            },
            tokenI:{
                type: String
                },
             swClave:{
              type: Boolean,
              value:  true
              },
              SwAcceder:{
              type: Boolean,
              value:  false
              },
              SwLogin:{
              type: Boolean,
              value:  false
              },
              swView:{
              type: Boolean,
              value:  false
              }
            }
          }
      token(){
        console.log('token')
        this.dispatchEvent(new CustomEvent('regresar', {
          composed: true,
          bubbles: true
        }))
      }
      confirmar(){
        if((this.password == null && this.password1 == null) ||
           (this.password != null && this.password1 == null) ||
           (this.password == null && this.password1 != null) ||
           (this.tokenI ==null))
        {
          alert("Debe ingresar su nueva Contraseña y/o Token ");
          this.password  = null; 
          this.password1 = null;
          this.tokenI = null;
          this.swClave   = true;
        } else if(this.password != this.password1){
          alert("Las Contraseñas deben ser iguales");
          this.password  = null;
          this.password1 = null;
          this.swClave   = true;
        } 
        /*if(this.tokenI ==null){
          alert("Debe ingresar el Token enviado a su correo electrónico");
          this.swClave   = true;
          this.tokenI =null
        } else */
        if ((this.password == this.password1) && this.tokenI != null){
          this.validaClave();
        }
      }
      iguales(){
        if (this.password != this.password1){
          console.log("no iguales activado....");
          this.swView = true;
        } else{
          console.log("no iguales desactivado....");
          this.swView = false;
        }
      }
      validaClave(){
        var request = new XMLHttpRequest();
        var url="http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001/v1/desbloqueo";
        this.user = localStorage.getItem("usuario");
        console.log("gestor contrasena - validaclave " + this.user + " pass " + this.password + " token " + this.tokenI);
        request.open("POST", url, false);
        request.setRequestHeader("Accept","application/json"); 
        request.setRequestHeader("Content-type","application/json");
        request.setRequestHeader("user", this.user);
        request.setRequestHeader("password", this.password);
        request.setRequestHeader("token", this.tokenI);
        //request.setRequestHeader("access-control-allow-headers",  'Origin, X-Requested-With, Content-Type, Accept');
        //request.setRequestHeader("Access-Control-Allow-Origin",  '*');
        //request.setRequestHeader("Access-Control-Allow-Origin",  'http://ec2-18-218-184-153.us-east-2.compute.amazonaws.com:3001');
        console.log("antes del request.send "+ request.status);
        request.send(); 
        //var cliente = JSON.parse(request.response);
        //this.posclte = JSON.parse(request.response);
        //console.log("gestor validaruser - genera token "+ this.posclte);
        if (request.status == 200){
          console.log("gestor contrase - validaclave if "+ request.status);
          alert("La Contraseña fue confirmada de manera existosa.");
          //this.SwAcceder = true;  
          this.SwLogin = true;
          this.swClave = false; 
            
        }else{
          console.log("gestor contrase - validaclave  else"+ request.status);
          alert("Funcion validaclave - Debe ingresar Clave o Token válido");
          this.password  = null;
          this.password1 = null;
          this.tokenI = null;
          this.swClave   = true;
            }
    } 
  }   

    window.customElements.define(GestorContrasena.is, GestorContrasena);
  </script>
</dom-module>

